#home {
  padding-top: 66px;
  @media (max-width: 410px) {
    padding-top: 109px;
  }
  @media (min-width: 411px) and (max-width: 767px) {
    padding-top: 73px;
  }
  .img-container {
    position: relative;
    img {
      width: 200%;
      margin-left: -50%;
      height: auto;
      @include media-breakpoint-up(lg) {
        width: 100%;
        margin: 0;
      }
      // @include media-breakpoint-down(sm) {
      //   width: 200%;
      //   margin-left: -50%;
      // }
    }
    .home-info {
      position: absolute;
      top: 45%;
      left: 0;
      width: 100%;
      text-align: center;
      color: white;
      font-family: 'Asul', sans-serif;
      text-shadow: 1px 1px 4px $gray-dark;
      font-size: 2em;
      @include media-breakpoint-down(sm) {
        font-size: 1.2em;
      }
    }
  }
}
