.schedule {
  font-size: 1.25rem;
  padding-bottom: 2rem;
  .schedule-item {
    padding-bottom: .5rem;
    .schedule-item-container {
      @extend .row;
      .schedule-item-part {
        @extend .col-6;
        &.schedule-item-time {
          text-align: right;
        }
      }
    }
    &.single {
      .schedule-item-container {
        .schedule-item-part {
          @extend .col-12;
          text-align: center;
        }
      }
    }
  }
}

.header {
  font-size: 1.5rem;
  font-weight: bold;
}
